.container
  .page-content
    .row
      h4.text-center = t('.message_from_Principal')
      .row
        .col-sm-5
          p
            |
              Dear
          br
          p
            |
              Parent and the student
        .col-sm-7
          .panel-body.pull-right
            = image_tag('principal.jpg', size: "300x100")
        br
        p
          |
            It is a great pleasure to me to convey some message to you that st. Domonic
            Intermediate College Lachragarh simdega, India is a Roman catholic minority
            Instittion which welcomes all the boys and the girls without discimination of
            caste and creed to come and study here. The college is approved permanently by 
            jharkhand Government (HRD Rachi) Ref No 1499 dated On 31 may 2011
        br
          |
            The Governing Body and the staff members of the college have a very
            positive and optimistic desire that the students of this college may SHINE through
            the power and intellect of the wisdom. The college the through the help of devoted
            and honest teachers of the instituion try to impart intellectual, Physical, moral
            and spiratual education, These are the source of power and stamina by which are the student go forward to face the Challenges of day-today lives and succeed into achieve
            their good
        br
        br
        p
          |
            We have many opportunities and occasions together with teaching, such as, games and sports cultural activities, seminars, picnic, excursions, college day, competitions, quize, speech, song dance, competitions etc, where the student develop their abilities, 
            capacities and skills. There is good library and computer Lab to supplement the energy. Our Purpose is to impart a good holistic education for the student in this area. As the learning Is a Life Long Process. St Dominic COllege is the parrt of that proces. We try to build a honest heart a patrotic sincere citizen who can serve the people and nation as well. Thus the student of this college may SHINE in the society and in the country as the stars twinkle in the sky.
        br
        br
          p 
            |
              wish you all a happy and successful Life
                