/ #myCarousel.carousel.slide data-ride="carousel"
/   /! Indicators
/   ol.carousel-indicators
/     li.active data-slide-to="0" data-target="#myCarousel"
/     li data-slide-to="1" data-target="#myCarousel"
/     li data-slide-to="2" data-target="#myCarousel"
/   /! Wrapper for slides
/   .carousel-inner.images
/     - @images.each_with_index do |f, index|
/       div class=((index == 0) ?  'active item' : 'item')
/         = image_tag f.document.url, class: "tales img-fluid"
/   /! Left and right controls
/   a.left.carousel-control data-slide="prev" href="#myCarousel"
/     span.glyphicon.glyphicon-chevron-left
/     span.sr-only Previous
/   a.right.carousel-control data-slide="next" href="#myCarousel"
/     span.glyphicon.glyphicon-chevron-right
/     span.sr-only Next

.row
  - @images.each_with_index do |f, index|
    .col-sm-4
      .panel-body
        = image_tag(f.document.url, size: "350x300")